__pycache__/
*.py[cod]
*.so

.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

output/
training_logs/
inference_out/
logs/
runs/
wandb/

*.pth
*.pth.tar
*.pt
*.ckpt
*.onnx

data/*
!data/README.md

*.log
*.out
*.err
*.csv
*.tsv
*.npy
*.npz

.env
.vscode/
